PORT=3000
FRONTEND_ORIGIN=http://localhost:5173
# Formato recomendado: bucket/prefijo
GCS_BUCKET_PATH=matrimonioxd/dogs-pretty
# Alternativas opcionales:
# GCS_BUCKET=matrimonioxd
# GCS_PREFIX=dogs-pretty
# GOOGLE_APPLICATION_CREDENTIALS=C:/ruta/credenciales.json
# O tambien puedes pasar el JSON completo en la misma variable:
# GOOGLE_APPLICATION_CREDENTIALS={"type":"service_account","project_id":"..."}
